
.info{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #840505;
    border-radius: 10px;
    padding: 2px;
    background-color: rgba(211, 210, 210, 0.2);
    cursor: pointer;
}
.info:hover {
    background-color: rgba(180, 17, 17, 0.5); /* Muda a cor de fundo ao passar o mouse */
    border-bottom: 1px solid #cf9c3c;
}
.img{
    /* background-color: blue; */
    width: 100px;
    height: 100px;
    border-radius: 8px;;
    object-fit: contain;
}

.textInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* padding: 0px 10px; */
    color: rgb(43, 43, 43);
}

.textInfo h5{
    margin: 0;
    font-family: lato,sans-serif;
    font-size: 14px;
    /* line-height: 0.5; */
    color: bisque;
}

.textInfo p{
    font-family: open Sans, sans-serif;
    font-size: 10px;
    line-height: 1;
}


  